#design-delicious {
    padding-top: 5rem;
    padding-bottom: 10rem;
    .design-delicious-heading{
        padding: 4rem 28% 8rem;
    }
    .design-delicious-content {
        .card {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            border: none;
            
            img {
                width: 70%;
                border-radius: 50%;
            }
            .card-body {
                .card-title {
                      font-size: 2rem;
                      color: #333;
                      font-weight: 600;
                      letter-spacing: .1rem;
                      text-align: center;
                      margin-top: 3.2rem;
                }
                .card-text {
                    font-size: 1.4rem;
                    color: #666;
                    text-align: center;
                    opacity: .7;
                    margin-top: 2.2rem;
                    line-height: 178%;
                }
            }
        }
    }
}