.section-title {
    font-family: $heading-font-family;
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
}
.section-desc {
    font-size: 1.6rem;
    font-weight: 400;
    color: #666;
    text-align: center;
    margin-top: 2.2rem;
    opacity: .8;
}
